nav img {
  height: 40px;
}

nav {
  position: fixed;
  height: 100%;
  width: 50px;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
  top: 0;
  left: 0;
  padding: 0 10px 0 10px;
}

#logo {
  padding: 20px 0 200px 0;
  height: 50px;
}

.icon:hover {
  border-left: 2px solid #1CA3BA;
}

.accounts img {
  height: 40px;
}

body {
  font-family: 'Biryani', sans-serif;
  background-color: #F5F5F5;
  margin-left: 90px;
}

.overview div {
  background-color: white;
  display: inline-block;
  padding: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.05);
  margin: 10px;
  width: 100px;
}

.overview h2 {
  font-size: 10px;
}

.accounts div {
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  height: 75px;
}

.accounts {
    float: left;
    width: 100%;
    margin: 10px;
}

.lefty {
  float: left;
  padding: 10px 80px 10px 10px;
}

.righty {
  float: right;
  padding-right: 40px;
}

#left {
  width: 45%;
}

#right {
  float: right;
  width: 45%;
  margin: auto;
  background-color: white;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

tr {
  border: solid #CCCCCC;
  border-width: 1px 0;
}

button {
  background-color: #1CA3BA;
  border-radius: 10px;
  color: white;
}
