/* * {
  box-sizing: border-box;
} */

body {
  font-family: 'Biryani', sans-serif;
  background-color: #F5F5F5;
  margin-left: 90px;
}

h1 {
  padding-left: 10px;
}

#welcome {
  background-image: linear-gradient(to right, #8ED1DC, #E3F4F6);
  padding: 20px 20px 35px 20px;
  font-size: 20px;
  margin: 0 10px 0 10px;
  position: relative;
  height: 50px;
  font-weight: bold;
}

#x {
  height: 10px;
  position: absolute;
  top: 20px;
  left: 555px;
}

#logo {
  height: 70px;
  padding: 10px 10px 250px 0;
}

.icon {
  height: 40px;
  margin: 0 10px 0 10px;
}

nav {
  position: fixed;
  height: 100%;
  width: 65px;
  z-index: 1;
  background-color: white;
  overflow-x: hidden;
  top: 0;
  left: 0;
  padding: 0 10px 0 10px;
}

.icon:hover {
  border-left: 2px solid #1CA3BA;
  padding-left: 7px;
}

.overview {
  float: left;
  margin: 0 0 20px 0;
  padding: 0;
}

.overview section, #welcome, .account_names section {
  border-radius: 5px;
}

.overview section {
  background-color: white;
  display: inline-block;
  padding: 10px;
  box-shadow: 2px 2px rgba(0,0,0,0.05);
  margin: 10px;
  width: 158px;
}

.overview h2 {
  font-size: 10px;
}

.lefty{
  float: left;
}

.righty {
  float: right;
}

.accounts {
  width: 100%;
  margin: 0 0 0 15px;
  padding: 0;
}

.accounts h3 {
  float: left;
  margin: 0;
}

.accounts button {
  margin-right: 25px;
}

.account_names img {
  height: 30px;
  margin: 10px 0 0 10px;
}

#savings .righty {
  margin-right: 27px;
}

#checking .righty {
  margin-right: 16px;
}

.account_names section {
  background-color: white;
  margin: 10px;
  height: 75px;
}

.account_names {
    float: left;
    width: 100%;
    margin: 10px 10px 10px 0;
    margin-top: 0;
}

.account_names .lefty {
  padding: 10px 80px 10px 10px;
}

.account_names .righty {
  padding-right: 40px;
  padding-top: 10px;
}

#left {
  width: 45%;
  float: left;
}

#right {
  float: right;
  width: 35%;
  padding: 20px 20px 20px 30px;
  background-color: white;
  margin-right: 50px;

}

.chart-head {
  width: 430px;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.chart-head h4{
  float: left;
  margin: 0;
}

th, td {
  text-align: left;
  padding: 10px;
}

table {
  border-collapse: collapse;
  padding: 10px;
  width: 450px;
}

tr {
  border: solid #CCCCCC;
  border-width: 1px 0;
}

button {
  background-color: #1CA3BA;
  border-radius: 15px;
  color: white;
  float: right;
  padding: 5px;
  width: 150px;
  font-size: 10px;
  font-weight: bold;
  height: 32px;
}
